*{
	margin: 0 auto;
}

body{
	font-family: 'Lato', sans-serif;
}

a{
	text-decoration: none;
}

nav{
	height: 100px;
	background-color: #1c1c1c;
	position: relative;
}

nav img,
nav ul,
nav ul li{
	display: inline;
}
.container{
	max-width: 1140px;
	margin: 0 125px;
	position: relative;
	top: 40px;
}

.logo{
	width: 140px;
}

nav ul{
	float: right;
}

nav ul li{
   	margin-left: 10px;
   	padding: 0px 20px;
}

nav ul li a{
	font-size: 13px;
	font-weight: bold;
   	color: #D8D8D8;
   	text-transform: uppercase;
}

.active {
	color: #FF585E;
}

/* ============content */
.container-content{
	padding-top: 5px;
}

.content{
	height: 400px;
	background-color: #1f1f1f;
	position: relative;
	text-align: center;
   	color: #d0d0d0;
}

.container h1{
	display: inline;
	font-weight: 200;
    font-size: 60px;
}
.container p{
	font-size: 42px;
    font-weight: 300;
    margin-top: 15px;
}
.bold{
	font-size: 60px;
    font-weight: 900;
    text-transform: capitalize;
}
.button{
	display: inline-block;
	background-color: #f74d4c;
    width: 150px;
    text-align: center;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 0.5px;

}
